<div class="jumbotron">
  <h1 class="display-3">Record Collection</h1>
  <p class="lead">
    This is a simple application where you can manage your record collection.
  </p>
  <hr class="my-4">
  <%= link_to 'Add Record', new_record_path, :class => "btn btn-primary btn-lg" %>
</div>
<table class="table">
  <tr>
    <th>Artist</th>
    <th>Album</th>
    <th>Year Released</th>
    <th>Year Printed</th>
    <th>Condition</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <% @records.each do |record| %>
    <tr>
      <td><%= record.artist %></td>
      <td><%= record.album %></td>
      <td><%= record.year_released %></td>
      <td><%= record.year_printed %></td>
      <td><%= record.condition %></td>
      <td><%= link_to 'Show', record_path(record) %></td>
      <td><%= link_to 'Edit', edit_record_path(record) %></td>
      <td><%= link_to 'Delete', record_path(record),
                      method: :delete,
                      data: {confirm: 'Are you sure?'} %></td>
    </tr>
  <% end %>
</table>