<p>
  <%= link_to 'Edit', edit_record_path(@record) %> |
  <%= link_to 'Back', records_path %>
</p>

<p>
  <strong>Artist:</strong>
  <%= @record.artist %>
</p>

<p>
  <strong>Album:</strong>
  <%= @record.album %>
</p>

<p>
  <strong>Year Released:</strong>
  <%= @record.year_released %>
</p>

<p>
  <strong>Year Printed:</strong>
  <%= @record.year_printed %>
</p>

<p>
  <strong>Condition:</strong>
  <%= @record.condition %>
</p>

<strong>Tracks</strong>

<%= render @record.tracks %>

<strong> Add a track:</strong>

<%= render 'tracks/form' %>