<h1>Vinyl Collection</h1>

<p>
  <%= link_to 'Add Vinyl', new_vinyl_path %>
</p>

<table>
  <tr>
    <th>Artist</th>
    <th>Album</th>
    <th>Year Released</th>
    <th>Year Printed</th>
    <th>Condition</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @vinyls.each do |vinyl| %>
    <tr>
      <td><%= vinyl.artist %></td>
      <td><%= vinyl.album %></td>
      <td><%= vinyl.year_released %></td>
      <td><%= vinyl.year_printed %></td>
      <td><%= vinyl.condition %></td>
      <td><%= link_to 'Show', vinyl_path(vinyl) %></td>
      <td><%= link_to 'Edit', edit_vinyl_path(vinyl) %></td>
      <td><%= link_to 'Delete', vinyl_path(vinyl),
                      method: :delete,
                      data: {confirm: 'Are you sure?'} %></td>
    </tr>
  <% end %>
</table>