
<p>
  <%= link_to 'Edit', edit_vinyl_path(@vinyl) %> |
  <%= link_to 'Back', vinyl_index_path %>
</p>

<p>
  <strong>Artist:</strong>
  <%= @vinyl.artist %>
</p>

<p>
  <strong>Album:</strong>
  <%= @vinyl.album %>
</p>

<p>
  <strong>Year Released:</strong>
  <%= @vinyl.year_released %>
</p>

<p>
  <strong>Year Printed:</strong>
  <%= @vinyl.year_printed %>
</p>

<p>
  <strong>Condition:</strong>
  <%= @vinyl.condition %>
</p>